@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url(animation/animation.css);
@import url(login/login.css);
@import url(main/main.css);
@import url(notification/notification.css);
@import url(anon/anon.css);
@import url(addGames/addGames.css);

* {
    margin: 0;
    padding: 0;
    letter-spacing: -0.05rem;

    font-family: Pretendard;
}

:root {
    --color_darkBlue: #012742;
    --color_lightBlue: #B1B9BE;
    --color_white: #EBEBEB;
    --color_grey: #989898;

    --fontSize_ExtraLarge: 40px;
    --fontSize_Large: 30px;
    --fontSize_Medium: 24px;
    --fontSize_Small: 16px;
    --fontSize_ExtraSmall: 14px;

    --fontWeight_ExtraLight: 100;
    --fontWeight_Light: 300;
    --fontWeight_Medium: 500;
    --fontWeight_Bold: 700;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    background-color: #DDDDDD;
}

input {
    background-color: var(--color_white);
    color: var(--black);
    border-radius: 10px;
    font-size: var(--fontSize_Medium);
    font-weight: var(--fontWeight_ExtraLight);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-top: 15px;
    border: none;
}

textarea {
    resize: none;
}

.button_normal {
    background-color: var(--color_darkBlue);
    color: var(--color_white);
    font-size: var(--fontSize_Medium);
    font-weight: var(--fontWeight_ExtraLight);
    border-radius: 10px;
    padding: 10px 25px;
    border: 1px solid var(--color_lightBlue);
}



#typWrap {
    width: 100%;
    height: 70vh;
    position: absolute;
    z-index: -999;
    bottom: 0;
  
    background-image: url("/static/img/kulsomTyp.svg");
    background-position: center bottom;
    background-size: cover;
  }

#mainContainer {
    border: 1px solid;
}

#main_banner {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: var(--fontSize_ExtraLarge);
}
.banner_line {
    color: var(--color_darkBlue);
    letter-spacing: -3px;
}
#banner_line1 {
    margin-bottom: -10px;
    font-weight: var(--fontWeight_ExtraLight);
}
#banner_line2 {
    font-weight: var(--fontWeight_Medium);
}

#myInfo {
    font-size: var(--fontSize_Small);
    color: var(--color_white);
    background-color: var(--color_lightBlue);
    padding: 5px 15px;
    border-radius: 10px;
    font-weight: var(--fontWeight_ExtraLight);
}

.logoRow1, .logoRow2 {
    display: flex;
    gap: 7px;
}