.addGamesWrap {
    margin: 0 20px;
    margin-top: 80px;
    height: 80vh;
}
.addGamesScrollArea {
    width: 100%;
}
.addGamesItems {

    border-radius: 10px;
    position: relative;
    
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* justify-content: space-between; */
    align-items: center;

    background: rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.8px);
    -webkit-backdrop-filter: blur(7.8px);

    border: 1px solid rgba(255, 255, 255, 0.2);

    margin-top: 20px;
    padding: 15px;

    height: 70vh;
    overflow: auto;
}

.addGamesUpper {
    display: flex;
    align-items: center;
    width: 100%;
}
.addGamesTitle {
    font-size: var(--fontSize_Large);
    font-weight: var(--fontWeight_Light);
    color: var(--color_white);
    width: 80%;
    transition: 0.1s ease-in-out;
}
.addGamesTitle:hover {
    background-color: rgba(0, 0, 0, 0.3);
    padding: 5px;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}
.addGamesBar {
    height: 1px;
    width: 100%;
    background-color: var(--color_white);
}
